body {
  @include base-font-settings;
  @include font1-regular;

  font-size: $base-font-size;
  line-height: 1.625em;

  color: $color1;
  background-color: $white;
}

/* Mozilla based browsers */
::-moz-selection {
  color: $color1;
  background-color: mix($white, $color2, 80%);
}

/* Works in Safari */
::selection {
  color: $color1;
  background-color: mix($white, $color2, 80%);
}

img {
  display: block;

  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.625em;

  &.introduction {
    @include font1-regular;

    font-size: 1.15em;
    line-height: 1.65em;
  }
}

a {
  display: inline;
  color: $color1;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    color: $color2;

    h2 {
      color: inherit;
    }
  }
}

strong {
  @include font1-bold;
}

span {
  font-size: inherit;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include base-font-settings;

  padding-top: .75em;
  padding-bottom: .75em;

  color: $color1;
}

h1 {
  @include font2-regular;

  font-size: 2em;
  line-height: 1.25em;

  @media only screen and (min-width: $bp5) {
    font-size: 3em;
    //line-height: 1.05em;
  }
}


h2 {
  @include font2-regular;

  font-size: 1.625em;
  line-height: 1.15384615em;

  &:after {
    position: relative;

    display: block;

    width: 7.5%;
    height: 1px;
    margin-top: .75em;

    content: "";

    background-color: $color1;
  }
}

h3 {
  @include font1-bold;

  font-size: 1.35em;
  line-height: 1.45;

  color: $color1;
}

h4 {
  @include font2-bold;

  font-size: 1.15em;
  line-height: inherit;
}

h5 {
  font-size: .95em;
  line-height: inherit;
}

h6 {
  font-size: .75em;

  line-height: inherit;
}

hr {
  height: 1px;
  margin: 0;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
  padding: 0;

  border: 0;
  background-color: mix($white, $color1, 95%);
}

sub {
  font-size: .75em;

  vertical-align: sub;
}

sup {
  font-size: .75em;

  vertical-align: super;
}

blockquote {
  font-style: italic;

  overflow: hidden;

  margin-bottom: 2em;
  padding: 1.5em;
  //.border1();

  color: $color1;
  //border-color: mix($white, $color2, 90%);
  background-color: mix($white, $color1, 95%);

  &:before {
    font-family: "fontawesome";
    font-size: 5em;
    font-style: normal;
    line-height: .8;

    position: relative;

    display: inline-block;
    float: left;

    margin: 0;
    margin-right: 30;
    padding: 0;

    content: "\f10d";

    color: fade($black, 10%);
  }
}

dl {
  @include border1;

  margin: 0;
  margin-bottom: 2em;
  padding: 1em;

  dt {
    @include font1-bold;
  }

  dd {
    margin-bottom: .65em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul {
  margin-bottom: 1.625em;
  //overflow: hidden;

  li {
    margin-bottom: .5em;
    margin-left: 1.5em;
  }
}

ol {
  overflow: hidden;

  margin-bottom: 1em;

  li {
    margin-bottom: .5em;
    margin-left: 1.75em;
  }
}

address {
  margin-bottom: 1em !important;
  //overflow: hidden;
}

abbr,
acronym,
big,
ins {
  @include font1-bold;
}

cite,
em,
q,
var {
  @include font1-regular-italic;
}

code,
kbd,
tt {
  @include border1;

  margin-right: .40em;
  margin-left: .40em;
  padding: .40em;

  color: $color2;
  border-color: mix($white, $color2, 80%);
  background-color: mix($white, $color2, 95%);
  //border-radius: 3px;
}

pre {
  @include border1;

  margin-bottom: 2em;
  padding: 1em;

  color: $color2;
  border-color: mix($white, $color2, 80%);
  background-color: mix($white, $color2, 95%);
  //border-radius: 3px;
}

del {
  @include font1-regular;

  color: $red;
}

table {
  @include border1;

  width: 100%;
  margin-bottom: 2em;

  border-spacing: 0;
  border-collapse: separate;
  //border-radius: 3px;

  &.align-top {
    td {
      vertical-align: top;
    }
  }

  a {
    @include font1-regular;

    &.button {
      @include font1-bold;

      font-size: 100%;
      line-height: 100%;

      display: inline-block;

      box-sizing: border-box;
      margin: 0;
      padding: 15px;
      padding-right: 1.5em;
      padding-left: 1.5em;

      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;

      color: $white;
      border-width: 0;
      border-style: solid;
      border-color: rgba($black, .075);
      border-radius: 3px;
      background-color: $color2;

      -webkit-appearance: none;
      //vertical-align: bottom;
      //overflow: hidden;

      &:hover {
        color: $white;
        background-color: $color1;
        //border-color: $color1;
      }
    }
  }

  tr {
    th,
    td {
      &.center {
        text-align: center;
      }

      &.align-right {
        text-align: right;
      }

      &.no-whitespace {
        width: 1%;

        white-space: nowrap;
      }
    }

    th {
      @include font1-bold;

      padding: 1em;

      text-align: left;

      color: mix($white, $color1, 50%);
      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: mix($white, $color1, 90%);
      border-left: solid;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: mix($white, $color1, 90%);
      background-color: mix($white, $color1, 95%);
      background-color: mix($white, $color1, 95%);

      &:first-child {
        border-left: 0;
      }
    }

    td {
      padding: 1em;

      text-align: left;

      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: mix($white, $color1, 95%);
      border-left: solid;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: mix($white, $color1, 95%);

      &:first-child {
        border-left: 0;
      }

      &.actions {
        text-align: right;

        ul {
          margin: 0;
          padding: 0;

          list-style: none;

          &.float-left {
            li {
              display: inline-block;

              margin: 0;
              margin-right: 5px;
              //float: left;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          li {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;

            &:last-child {
              margin-bottom: 0;
            }

            .cancel {
              background-color: $orange;

              &:hover {
                background-color: $red;
              }
            }
          }
        }
      }
    }

    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

label {
  display: inline-block;

  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  @include font1-regular;
  @include border1;

  font-size: inherit;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  padding: .5em;

  border-color: mix($white, $color1, 90%);
  background-color: mix($white, $color1, 97%);

  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //border-radius: 3px;

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .30);
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, .30);
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, .30);
  }

  :-ms-input-placeholder {
    color: rgba(0, 0, 0, .30);
  }

  &:hover,
  &:focus {
    border-color: mix($white, $color1, 80%);
    //background-color: mix($white, $color1, 95%);
    outline: none;
  }
}

select {
  @include font1-regular;
  @include border1;

  font-size: inherit;

  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .5em;

  cursor: pointer;

  border-color: mix($white, $color1, 90%);
  background-color: mix($white, $color1, 97%);

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  //border-radius: 3px;

  &:hover,
  &:focus {
    border-color: mix($white, $color1, 80%);
    //background-color: mix($white, $color1, 95%);
    outline: none;
  }
}

.button,
button,
input[type="submit"] {
  @include font1-bold;

  font-size: 100%;
  line-height: 100%;

  display: inline-block;

  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  padding-right: 1.5em;
  padding-left: 1.5em;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  color: $white;
  border-width: 0;
  border-style: solid;
  border-color: rgba($black, .075);
  border-radius: 3px;
  background-color: $color2;

  -webkit-appearance: none;
  //vertical-align: bottom;
  //overflow: hidden;

  &:hover {
    color: $white;
    background-color: $color1;
    //border-color: $color1;
  }

  &.medium {
    font-size: 90%;

    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;

    &.icon {
      &:before {
        margin-right: 7px;
      }
    }
  }

  &.small {
    font-size: 75%;

    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;

    &.icon {
      &:before {
        margin-right: 5px;
      }
    }
  }

  &.transparant {
    color: $color2;
    border-color: mix($white, $color2, 30%);
    background: none;

    &.icon {
      &:before {
        color: mix($white, $color2, 30%);
      }
    }

    &:hover {
      color: $color1;
      border-color: mix($white, $color1, 30%);

      &.icon {
        &:before {
          color: mix($white, $color1, 30%);
        }
      }
    }
  }

  &.white {
    color: $white;
    border-color: rgba($white, .070);
    background: none;

    &:hover {
      color: $white;
      border-color: rgba($white, .070);
      background: none;
    }

    &.icon {
      &:before {
        color: $white;
      }
    }

    &.transparant {
      &.icon {
        &:before {
          color: $white;
        }
      }
    }
  }

  &.icon {
    //background-color: yellow;

    &:before {
      @include fontawesome;

      margin-right: 8px;

      content: "\f041";

      color: $white;
    }
  }
}

input[type="radio"] {
  display: inline-block;

  margin-right: .25em;

  &:checked {
    background-color: $color2;
  }
}

.post {
  img {
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;

      margin-right: 3%;
    }

    &.aligncenter {
      margin: 0 auto;
      text-align: center;
    }

    &.alignright {
      float: right;

      margin-left: 3%;
    }

    &.alignnone {
      max-width: 100%;
      height: auto;
    }
  }

  .wp-caption {
    font-size: 90%;

    display: inline-block;

    width: auto;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;

    img {
      max-width: 100%;
      height: auto;
    }

    &.alignleft {
      float: left;

      margin-right: 3%;

      .wp-caption-text {
        text-align: left;
      }
    }

    &.aligncenter {
      min-width: 100%;
      max-width: 100%;

      text-align: center;

      img {
        max-width: 100%;
      }
    }

    &.alignright {
      float: right;

      max-width: 100%;
      margin-left: 3%;

      text-align: right;

      .wp-caption-text {
        text-align: right;
      }
    }

    &.alignnone {
      width: auto !important;
      max-width: 100% !important;
      height: auto;

      img {
        width: 100%;
        //max-width: 100%;
        height: auto;
      }
    }

    .wp-caption-text {
      @include font1-regular-italic();

      margin: 0;
      padding: 0;

      text-align: center;

      color: mix($white, $color1, 50%);

      a {
        @include font1-regular-italic();

        color: mix($white, $color2, 50%);
      }
    }
  }
}

ol.commentlist {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    list-style-type: none;

    .comment-body {
      @include border1;

      overflow: hidden;

      padding: 15px;

      border-color: mix($white, $color2, 80%);
      background-color: mix($white, $color2, 95%);

      .comment-author {
        font-size: 90%;

        float: left;
        overflow: hidden;

        width: 250;

        img {
          @include border1;

          float: left;

          width: 50;
          height: 50;
          margin-right: 10;

          border-color: $white;
          border-radius: 50;
        }
      }

      .comment-meta {
        font-size: 90%;

        margin-bottom: 5px;
        margin-left: 250;

        a {
          @include font1-regular-italic();

          text-decoration: none;

          &.comment-edit-link {
            float: right;
          }
        }
      }

      p {
        margin-left: 250;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      .reply {
        display: inline-block;
        float: left;

        margin-left: 250;
      }
    }

    .children {
      margin-top: 1em;
      margin-left: 1.5em;
    }
  }
}

iframe {
  @include border1;

  box-sizing: border-box;
  padding: 5px;
}

.video-container {
  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 1.625em;
  padding: 0;
  padding-bottom: 60%;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border-width: 7px;
    border-style: solid;
    border-color: mix($white, $color1, 90%);
  }
}
