@mixin color1() {
  color: $color1;
}

@mixin color2() {
  color: $color2;
}

@mixin img1() {
}

@mixin border1() {
  border: 1px solid mix($white, $color1, 85%);
  border-radius: 0;
}

@mixin fontawesome() {
  font-family: "fontawesome";
  font-weight: normal;
  font-style: normal;

  color: mix($white, $color2, 50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}
