@import "wp-login";

#wpadminbar {
  position: fixed;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.post-edit {
  overflow: hidden;
}

.post-edit-link {
  @include font1-regular;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  margin-top: 2em;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;

  text-decoration: none;

  color: $white;
  border-radius: 3px;
  background-color: $green;

  &:hover {
    color: $white;
    background-color: $green;
  }
}

.read-more {
  display: inline-block;

  color: $color2;
  background-color: mix($white, $color2, 90%);
}

.comments {
  overflow: hidden;

  margin-top: 2.5em;

  .nocomments {
    font-size: .75em;

    display: inline-block;

    margin: 0;
    padding: 7px;
    padding-right: 12px;
    padding-left: 12px;

    text-transform: uppercase;

    color: $red;
    border-width: 1px;
    border-style: solid;
    border-color: mix($white, $red, 75%);
  }
}

#comments {
  overflow: hidden;

  margin-top: 40px;
  padding-top: 40px;

  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: mix($white, $color1, 75%);



  .comment-list {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;

    .comment {
      overflow: hidden;

      margin: 0;
      //margin-bottom: 30px;
      padding: 0;

      list-style-type: none;

      &:last-child {
        margin-bottom: 0;
      }

      .comment-body {
        overflow: hidden;

        margin-bottom: 15px;
        padding: 30px;

        background-color: mix($white, $color2, 92.5%);

        .comment-author {
          //height: 30px;
          vertical-align: top;

          img {
            display: inline-block;
            float: left;

            box-sizing: border-box;
            width: 50px;
            height: 50px;
            margin-right: 20px;

            border-width: 3px;
            border-style: solid;
            border-color: $white;
            border-radius: 50px;
            //display: none;
          }
        }

        .fn {
          @include font1-bold;

          font-style: normal;

          a {
            text-decoration: none;
          }
        }

        .comment-awaiting-moderation {
          //margin-left: 70px;
          //width: 100%;
          font-size: .75em;
          font-style: normal;

          display: inline-block;
          float: left;

          text-transform: uppercase;

          color: $red;
        }

        .comment-meta {
          font-size: .80em;

          margin-bottom: 15px;
          padding-bottom: 15px;
          padding-left: 70px;

          text-transform: uppercase;

          color: mix($white, $color2, 40%);
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: mix($white, $color2, 75%);
          //overflow: hidden;

          a {
            text-decoration: none;

            color: inherit;
          }
        }

        .reply {
          overflow: hidden;

          a {
            @include font1-bold;

            font-size: .75em;
            line-height: normal;

            display: inline-block;

            padding: 5px;
            padding-right: 12px;
            padding-left: 12px;

            vertical-align: middle;
            text-decoration: none;
            text-transform: uppercase;

            color: mix($white, $color2, 50%);
            border-width: 1px;
            border-style: solid;
            border-color: mix($white, $color2, 50%);

            &:hover {
              color: $color2;
              border-color: mix($white, $color2, 30%);
            }
          }
        }
      }

      .children {
        overflow: hidden;

        margin: 0;
        margin-left: 15px;
        padding: 0;

        .comment {
          &:last-child {
            margin-bottom: 0;
          }

          .comment-body {
            border-left-color: mix($white, $color2, 85%);
          }
        }
      }
    }
  }
}

.comment-respond {
  overflow: hidden;

  margin-top: 40px;

  h3 {
    margin-top: 0;
    padding-top: 0;

    &:before {
      @include fontawesome;

      margin-right: 10px;

      content: "\f086";

      color: $color2;
    }

    a {
      text-decoration: none;
    }

    small {
      display: block;
      overflow: hidden;

      margin: 0;
      padding: 0;
      //width: auto;

      @media only screen and (min-width: $bp5) {
        position: relative;

        display: inline-block;
        float: right;
        //top: -2px;

        width: auto;
      }

      a {
        @include font1-bold;

        font-size: 50%;
        line-height: normal;
        //display: inline-block;

        margin: 0;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;

        vertical-align: middle;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;

        color: $color1;
        background-color: mix($white, $color1, 90%);

        &:hover {
          color: $white;
          background-color: $red;
        }
      }
    }
  }

  .logged-in-as {
    overflow: hidden;
  }

  .comment-form-comment {
    overflow: hidden;

    label {
      @include font1-bold;
    }

    textarea {
      padding: 15px;
    }
  }

  .form-allowed-tags {
    code {
      line-height: 1.50em;

      display: block;
      overflow: hidden;

      margin: 0;
      margin-top: 10px;
      padding: 0;

      color: $color1;
      border: 0;
      background: none;
    }
  }

  .form-submit {
    margin: 0;
    padding: 0;

    input[type="submit"] {
      @include font1-bold;

      text-transform: uppercase;
    }
  }
}

.sticky {
  overflow: hidden;
}

.gallery-caption {
  overflow: hidden;
}

.bypostauthor {
  overflow: hidden;
}
